:root{
    --image-display-height:50px;
    --project-display-total-width: 160px;
    --image-border-color:blue;
}

/*Project display flex specifications*/
.ProjectListFlexRowContainer{
    display:flex;
    justify-content:space-between;
}

.ProjectListFlexRowItem{
    align-self: center;
}

.ProjectFlexColumnContainer{
    display:flex;
    flex-direction:column;
}

.ProjectFlexColumnItemElement{
    align-self:center;
}

/*Project display specific elements*/
.ProjectImageWrapperLeft{
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    margin-bottom:0px;
    flex-grow:2;
    height:var(--image-display-height);
    background-color:var(--image-border-color);
    border:0px transparent magenta;
    border-top-left-radius:5px;
}

.ProjectImageWrapperRight{
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    margin-bottom:0px;
    flex-grow:2;
    height:var(--image-display-height);
    background-color:var(--image-border-color);
    border:0px transparent magenta;
    border-top-right-radius:5px;
}

.ProjectImageWrapper{
    width:100%
}

.ProjectImage{
    height:var(--image-display-height);
    aspect-ratio:1;
}

.ProjectSummaryElement{
    max-width:100%;
}

.ProjectTitleElement{
    max-width:100%;
    align-items:center;
}

.ProjectCatagoryNameDisplay{
    background-color:lightblue;
    color:black;
    width:var(--project-display-total-width);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    margin-bottom:0px;
}

.ProjectCatagoryListDisplay{
    border:2px solid red;
    padding: 5px 5px 5px 5px;
}