/*
Used for titles (recommended in use with h1 element
*/
.title {
    text-align:center;
    background-color:green;
    border-radius:10px;
}

/*
Used for list elements for the recipes
*/
.recipeElement {
    width:100%;
}

.finishedProductImage{
    max-height: 100px;
}

body {
    background-color:black;
}