/*Project display flex specifications*/
.ProjectListFlexRowContainer{
    display:flex;
    justify-content:space-between;
}

.ProjectListFlexRowItem{
    align-self: center;
}

.ProjectFlexColumnContainer{
    display:flex;
    flex-direction:column;
    width:fit-content;
    align-items:baseline;
}

.ProjectFlexColumnItemElement{
    align-self:center;
}

/*Project display specific elements*/
.ProjectImageWrapper{
    background-color:magenta;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

.ProjectImage{
    --image-size:50px;
    height:var(--image-size);
    border: 60px solid magenta;
    border-top-width:0px;
    border-bottom-width:0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;

}

.ProjectSummaryElement{
    max-width:100%;
}

.ProjectTitleElement{
    max-width:100%
}

.ProjectCatagoryNameDisplay{
    background-color:lightblue;
    color:black;
    width:10vw;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    margin-bottom:0px;
}

.ProjectCatagoryListDisplay{
    border:2px solid red;
    padding: 5px 5px 5px 5px;
}