:root{
    --NavbarHeight : 50px;
}

#NavBar{
    height:var(--NavbarHeight);
    background-color:blue;
    margin:0px 0px 0px 0px;
    width:100%;
    
}

.FillButton{
    height: 100%;
    width: var(--NavbarHeight);
    
}

.FillHeight{
    height:100%;
}

.PortfolioTitle{
    display:inline-block;
    font-size:var(--NavbarHeight);
}

.FillArea{
    height:100%;
    width:100%;
}

.NavBarFlexContainer{
    display:flex;
    gap:10px;
}

.NavBarItemLeft{
    align-self:flex-start;
}

.NavBarItemCenter{
    margin-left:auto;
    margin-right: auto;
}

.NavBarItemRight{
    align-self: flex-end;
}